body {
      background-image: url('got.jpg'); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      background-position: center; 
    }

.custom-container-fluid {
  border: 3px solid #CE5200;   
  margin: 10%;
  padding: 1em; 
  box-shadow: 5px 5px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.character {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin: 2em;    
  color: #CE5200;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin: 1em;   
  color: #CE5200;    
}

h4 {
  text-align: center;
  margin: 1em;
  font-size: 1.2em;    
  color: #CE5200;    
}
